<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects List</title>
</head>

<body>
    <main>
        <div>
            <h1>Projects List</h1>
            <a href="{% url 'create_project' %}">Create a new project</a>
            <ul>
                {% for project in projects %}
                <li>
                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a> ({{ project.tasks.all|length }}
                    tasks)
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>
</body>

</html>